<h2>HTML Form</h2>
<div class="col-md-4">
  <form>
    <div class="form-group">
      <input type="text" name="userName" class="form-control" placeholder="UserName" required minlength="2">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <input type="submit" id="btn-login" class="btn btn-primary btn-lg btn-block" value="Login">
    <input type="button" id="btn-login" class="btn btn-danger btn-lg btn-block" value="Reset">
  </form>
</div>